.app-header {
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 2rem;
  }
  .app-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .app-header img {
    height: 7rem;
    pointer-events: none;
  }